.timer {
  width: 200px;
  height: 220px;    
  margin: 20px;
  padding: 10px;
  background-color: beige;
  border-radius: 10px;
  text-align: center;
}

.text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #333;
  padding: 10px;
}

.btn {
  width: 60px;
  height: 30px;
  margin: 2px;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: blue;
}